In [2]:
import pandas as pd

In [3]:
auto = pd.read_csv('autoscout24.csv')
auto.head()

   mileage        make   model      fuel    gear offerType  price     hp  year
0   235000         BMW     316    Diesel  Manual      Used   6800  116.0  2011
1    92800  Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
2   149300        SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
3    96200     Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
4   156000     Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011

In [4]:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46405 entries, 0 to 46404
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   mileage    46405 non-null  int64
 1   make       46405 non-null  object
 2   model      46262 non-null  object
 3   fuel       46405 non-null  object
 4   gear       46223 non-null  object
 5   offerType  46405 non-null  object
 6   price      46405 non-null  int64
 7   hp         46376 non-null  float64
 8   year       46405 non-null  int64
dtypes: float64(1), int64(3), object(5)
memory usage: 3.2+ MB

In [5]:
#checking missing values 
auto.isnull().sum()

mileage        0
make           0
model        143
fuel           0
gear         182
offerType      0
price          0
hp            29
year           0
dtype: int64

In [26]:
#removing the missing values
auto =auto.dropna(axis=0)

In [27]:
#selecting the prediction target
y = auto.price

In [39]:
#selecting mileage, make, model, gear and year as features
auto_features = auto[['mileage','hp', 'year']]

X = auto_features

In [40]:
X.head()

    mileage     hp  year
0  235000.0  116.0  2011
1   92800.0  122.0  2011
2  149300.0  160.0  2011
3   96200.0  110.0  2011
4  156000.0  156.0  2011

In [41]:
X.describe()

            mileage            hp          year
count  4.607100e+04  46071.000000  46071.000000
mean   7.123314e+04    132.992663   2016.012155
std    6.245413e+04     75.074689      3.155555
min    0.000000e+00      1.000000   2011.000000
25%    1.990000e+04     86.000000   2013.000000
50%    6.000000e+04    116.000000   2016.000000
75%    1.050000e+05    150.000000   2019.000000
max    1.111111e+06    850.000000   2021.000000

In [22]:
#importing scikit-learn library to create the model
from sklearn.tree import DecisionTreeRegressor

In [42]:
auto_model = DecisionTreeRegressor(random_state=1)

auto_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [45]:
print("Making predictions for the following cars:")
print(X.head())
print("The predictions are")
print(auto_model.predict(X.head(10)))

Making predictions for the following cars:
    mileage     hp  year
0  235000.0  116.0  2011
1   92800.0  122.0  2011
2  149300.0  160.0  2011
3   96200.0  110.0  2011
4  156000.0  156.0  2011
The predictions are
[6800. 6877. 6900. 6950. 6950. 6950. 6970. 6972. 6980. 6990.]